<div ng-controller="reservasController">
	<div class="row">
		<div class="col s8">
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s6 green-text">
							<h5>Información De Reserva</h5>
						</div>		
						<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
							<a class="btn-floating btn-large green">
								<i class="large material-icons">save</i>
							</a>
							<ul>
								<li>
									<a class="btn-floating red"><i class="material-icons">perm_identity</i></a>
								</li>
								<li>
									<a class="btn-floating blue" ng-click="guardarReserva()"><i class="material-icons">receipt</i></a>
								</li>
							</ul>
						</div>				
					</div>
					
					<div class="row">
						<div class="col s6">
							<div class="input-field">
								<i class="material-icons prefix">event</i>
								<input type="date" id="fechaEntrada" class="datepicker" ng-model= "Reserva.fechaEntrada">
								<label for="cedula" class="active">Fecha Entrada</label>
							</div>
						</div>
						<div class="col s6">
							<div class="input-field">
								<i class="material-icons prefix">event</i>
								<input type="date" id="fechaSalida" class="datepicker" ng-model= "Reserva.fechaSalida">
								<label for="cedula" class="active">Fecha Salida</label>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s12 green-text">
							<h5>Saldo a Pagar</h5>
							<br>	
						</div>
					</div>
					<div class="row">
						<div class="col s12 red-text">
							<h5>{{total|currency}}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="card">
		<div class="card-content">
			<div class="row">
				<div class="col s4 green-text">
					<h5>Información Del Cliente</h5>
				</div>
			</div>
			
			<div class="row">
				<div class="col s4">
					<div class="input-field">
						<i class="material-icons prefix">search</i>
						<input type="text" id="cedula" ng-model = "Cliente.cedula" ng-blur="loadCliente()">
						<label for="cedula">Por Favor Digitar la Cédula</label>
					</div>
				</div>
				<div class="col s4">
					<div class="input-field">
						<input type="text" id="nombre" ng-model = "Cliente.nombres" readonly="true" >
						<label for="nombre" class="{{active}}">Nombres</label>
					</div>
				</div>
				<div class="col s4">
					<div class="input-field">
						<input type="text" id="apellidos" ng-model = "Cliente.apellidos" readonly="true">
						<label for="apellidos" class="{{active}}">Apellidos</label>
					</div>
				</div>
				<div class="col s4">
					<div class="input-field">
						<input type="text" id="telefono" ng-model = "Cliente.telefono"readonly="true">
						<label for="telefono" class="{{active}}">Teléfono</label>
					</div>
				</div>
				<div class="col s4">
					<div class="input-field">
						<input type="text" id="direccion" ng-model = "Cliente.direccion"readonly="true">
						<label for="direccion" class="{{active}}">Dirección</label>
					</div>
				</div>
				<div class="col s4">
					<div class="input-field">
						<input type="text" id="correo" ng-model = "Cliente.correo"readonly="true">
						<label for="correo" class="{{active}}">Correo</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-content">
			<div class="row">
				<div class="col s4 green-text">
					<h5>Habitaciones</h5>
				</div>
			</div>
			<div class="row">
				<div class="row">
			<div class="col s3">
				<div class="input-field">
					<i class="material-icons prefix">search</i>
					<input id="filtro" type="text" class="validate" ng-model="filtroCa">
					<label for="pass">Filtro Camas</label>
				</div>
			</div>
			<div class="col s3">
				<div class="input-field">
					<i class="material-icons prefix">search</i>
					<input id="filtro" type="text" class="validate" ng-model="filtroE">
					<label for="pass">Filtro Estado</label>
				</div>
			</div>
			<div class="col s3">
				<div class="input-field">
					<i class="material-icons prefix">search</i>
					<input id="filtro" type="text" class="validate" ng-model="filtroC">
					<label for="pass">Filtro Categoría</label>
				</div>
			</div>
		</div>
			</div>
			<table class="bordered">
				<thead>
					<th>Numero</th>
					<th>Estado</th>
					<th>Categoría</th>
					<th>Camas</th>
					<th>Piso</th>
					<th>Precio</th>
					<th>Seleccionar</th>
				</thead>
				<tbody>
					<tr ng-repeat="habitacion in Habitaciones | filter: {camas: filtroCa, estadoHabitacion: filtroE, categoria: filtroC}">
						<td>{{habitacion.numeroHabitacion}}</td>
						<td>{{habitacion.estadoHabitacion}}</td>
						<td>{{habitacion.categoria}}</td>
						<td>{{habitacion.camas}}</td>
						<td>{{habitacion.piso}}</td>
						<td>{{habitacion.precio | currency}}</td>
						<td>
							<input type="checkbox"  id="{{habitacion.numeroHabitacion}}" name="habitacion[]" ng-click="agregarHabitacion()" value="{{habitacion.numeroHabitacion}}" />
      						<label for="{{habitacion.numeroHabitacion}}"></label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(function  () {
		$('.datepicker').pickadate({
		    selectMonths: true, 
		    selectYears: 15,
		    format: 'dd-mm-yyyy'
		});
	})
</script>